<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Convert a mp3</title>
</head>
<body>
    <div class="top-container">
        <form action="/convert-mp3" method="post" id="form">
            <h1>Convertidor MP3 Converter</h1>
            <div>
                <input type="text" name="VideoID" placeholder="Ingrese el ID del video">
                <button>Convertir</button>
            </div>
        </form>
    </div>

    <div class="bottom-container">
        <% if(typeof success != "undefined" && success) { %>
            <div class="success">
                <p> <%= title %></p>
                <a href="<%= link %>"><button id="download-btn">Descargar</button></a>
            </div>
        <%} else if(typeof success != "undefined" && !success) {%>
            <div class="errors">
                <p><%= message %></p>
            </div>
        <%} %>
    </div>
</body>
</html>